extends layouts/default

-title = 'sugarPhlox.'

block content

  header
    img(src='public/img/sugarPhlox.png')

  .row.hey-hey-know-me#about
    .container-fluid
      .col-xs-12.col-sm-5
        img.img-circle(
          src='public/img/itsame-mario.png'
        )
      .col-xs-12.col-sm-7
        h1 About Me
        p
          | Born in Massachusetts, I grew up surrounded with love and support by my family to
          | pursue anything I enjoyed in the world, and took full advantage of that. In high school
          | I enjoyed finer arts and photography, and took that with me to Salem State University
          | (based in Salem, MA), where I received my degree in Graphic Design (after starting as
          | a Biology major... really).
        p
          | In summer 2013, I looked at my cat Buddy and said 'We're moving to Burlington, VT', and
          | a month later I moved, and soon after started learning front end development, which 
          | has brought me here today.
        p
          | Other than my love for various forms of art, I do enjoy a good life in VT. My passions
          | include my vehicles (a 2009 Subaru WRX and a motorcycle), good cooking, my fantastic cat,
          | and learning something new every day.
  .row.portfolio#portfolio
    .container-fluid
      .col-xs-12.text-center
        h1 Portfolio
        .col-sm-6.col-sm-offset-3
          p
            | My work has a wide range covering different interests and fields. This includes
            | graphic design, front end development, photography, print making, and more.
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
      .col-xs-12.col-sm-3
        img.img-responsive(src='http://lorempixel.com/g/400/400/')
  .row.social-media#social-media
    .container-fluid
      .col-xs-12
        h1 Social Media
        p
          | You really want to learn about me? Scope out some of my other work on YouTube,
          | or check out my photography on Instagram. The internet is a beautiful thing.
      .col-xs-6.col-sm-2.twitter
        a(href='https://twitter.com/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
      .col-xs-6.col-sm-2.instagram
        a(href='http://instagram.com/sugarphlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x
      .col-xs-6.col-sm-2.linkedin
        a(href='https://www.linkedin.com/pub/cara-simoneau/9b/32a/272', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-linkedin.fa-stack-1x
      .col-xs-6.col-sm-2.behance
        a(href='https://www.behance.net/carasimoneau', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x
      .col-xs-6.col-sm-2.youtube
        a(href='https://www.youtube.com/user/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-youtube.fa-stack-1x
      .col-xs-6.col-sm-2.github
        a(href='https://github.com/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-github.fa-stack-1x
  .row.you-should-talk-to-me#contact
    .container-fluid
      .col-xs-12.col-sm-6.col-sm-offset-6
        .well
          h1 Contact Me
          p
            | Feel free to contact me about job opportunities, questions about my work, or even to say hi. 
            | I'll be here (if I'm not in the car or on the motorcycle. don't check emails and drive folks).
          form.form-horizontal(role='form', method='post', target='_blank', action='//formspree.io/sugarPhlox@gmail.com')
            .form-group
              label.col-sm-2.control-label(for='name') Name
              .col-sm-10
                input#name.form-control(required='', type='text', name='name', placeholder='First & Last Name')
            .form-group
              label.col-sm-2.control-label(for='email') Email
              .col-sm-10
                input#email.form-control(required='', type='email', name='_replyto', placeholder='your email, please')
            .form-group
              label.col-sm-2.control-label(for='message') Message
              .col-sm-10
                textarea.form-control(required='', rows='4', name='message')
            .form-group
              .col-sm-10.col-sm-offset-2
                input#submit.btn.btn-primary(name='submit', type='submit', value='send')
                input(type='text', name='_gotcha', style='display:none')
                input(type='hidden', name='_next', value='//site.io/thanks.html')
