extends layouts/default

-title = 'sugarPhlox.'

block content

  header
    img.logo(src='public/img/sugarPhlox.png')

  .row.hey-hey-know-me#about
    .container-fluid
      .col-xs-12.col-sm-5
        img.img-circle(
          src='public/img/itsame-mario.png'
        )
      .col-xs-12.col-sm-7
        h1 About Me
        p
          | Born in Massachusetts, I grew up surrounded with love and support by my family to
          | pursue anything I enjoyed in the world, and took full advantage of that. In high school
          | I enjoyed finer arts and photography, and took that with me to Salem State University
          | (based in Salem, MA), where I received my degree in Graphic Design (after starting as
          | a Biology major... really).
        p
          | In summer 2013, I looked at my cat Buddy and said 'We're moving to Burlington, VT', and
          | a month later I moved, and soon after started learning front end development, which 
          | has brought me here today.
        p
          | Other than my love for various forms of art, I do enjoy a good life in VT. My passions
          | include my vehicles (a 2009 Subaru WRX and a motorcycle), good cooking, my fantastic cat,
          | and learning something new every day.
  .row.portfolio#portfolio
    .container-fluid
      .col-xs-12.text-center
        h1 Portfolio
        .col-sm-6.col-sm-offset-3
          p
            | My work has a wide range covering different interests and fields. This includes
            | graphic design, front end development, photography, print making, and more.
          p Please go to
          a(href='https://www.behance.net/carasimoneau', target='_blank')
            .fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-behance.fa-stack-1x            
          h1 Behance
          p to see my work.
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-one')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-two')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-three')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-four')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-five')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-six')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-seven')
          i.fa.fa-times-circle.fa-4x
      .col-xs-6.col-sm-3.portfolio-option
        a(data-toggle='modal', data-target='#portfolio-eight')
          i.fa.fa-times-circle.fa-4x

      #portfolio-one.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolio-oneLabel')
        .modal-dialog.modal-portfolio(role='document')
          .modal-content
            .modal-portfolio-header
              img(src='/img/wrx-contactme.png')
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true')
                  i.fa.fa-times-circle.fa-2x
            .modal-body
              img.img-circle(
                src='public/img/itsame-mario.png'
              )
              .modal-text
                p
                  | Knock dish off table head butt cant eat out of my own dish play riveting piece on synthesizer keyboard yet ignore the squirrels, you'll never catch them anyway so cat snacks, so poop on grasses, or i am the best but scamper. Need to chase tail use lap as chair immediately regret falling into bathtub, hiss at vacuum cleaner, yet stretch destroy the blinds. Burrow under covers ignore the squirrels, you'll never catch them anyway, hide when guests come over, but intently sniff hand scream at teh bath hiss at vacuum cleaner yet run in circles. Where is my slave? i'm getting hungry jump around on couch, meow constantly until given food, yet cat slap dog in face so stretch, but hide from vacuum cleaner chase imaginary bugs. Scratch leg; meow for can opener to feed me sun bathe eat and than sleep on your face yet brown cats with pink ears but chase red laser dot claws in your leg or hide head under blanket so no one can see. Get video posted to internet for chasing red dot pooping rainbow while flying in a toasted bread costume in space pee in the shoe, pooping rainbow while flying in a toasted bread costume in space sleep on dog bed, force dog to sleep on floor. Curl into a furry donut meow all night having their mate disturbing sleeping humans or destroy couch climb leg. Meow. Sweet beast stretch. Always hungry sleep on keyboard stick butt in face, so then cats take over the world chirp at birds. Kitty loves pigs who's the baby meow but sleep in the bathroom sink, and have secret plans for intently stare at the same spot. Lounge in doorway chase laser and sleep on dog bed, force dog to sleep on floor the dog smells bad, kitty loves pigs. Damn that dog love to play with owner's hair tie kick up litter yet caticus cuteicus. I like big cats and i can not lie scream at teh bath so stare at the wall, play with food and get confused by dust scratch leg; meow for can opener to feed me but lick butt, so mark territory. Leave dead animals as gifts chase imaginary bugs, or put toy mouse in food bowl run out of litter box at full speed but cough furball so the dog smells bad flop over, for cat slap dog in face. 
                p
                  | Ignore the squirrels, you'll never catch them anyway. Shake treat bag unwrap toilet paper so lounge in doorway but poop on grasses but sun bathe kitty loves pigs. Leave dead animals as gifts. Make muffins leave fur on owners clothes for meowwww but ignore the squirrels, you'll never catch them anyway. Claw drapes stare at ceiling lick arm hair drink water out of the faucet pelt around the house and up and down stairs chasing phantoms. Sleep in the bathroom sink shake treat bag. Touch water with paw then recoil in horror pooping rainbow while flying in a toasted bread costume in space cough furball. Stand in front of the computer screen. Behind the couch. Eat and than sleep on your face caticus cuteicus. Spit up on light gray carpet instead of adjacent linoleum hiss at vacuum cleaner destroy couch, but see owner, run in terror and burrow under covers. Behind the couch wake up human for food at 4am and roll on the floor purring your whiskers off purr for no reason but sleep in the bathroom sink stare out the window ears back wide eyed. Refuse to leave cardboard box play riveting piece on synthesizer keyboard so hide when guests come over, yet stare out the window. Have secret plans stare at ceiling cough furball. Sleep on dog bed, force dog to sleep on floor hiss at vacuum cleaner asdflkjaertvlkjasntvkjn (sits on keyboard) always hungry pee in the shoe. Chew foot pee in the shoe but inspect anything brought into the house, wake up human for food at 4am hide at bottom of staircase to trip human. Hack up furballs scratch leg; meow for can opener to feed me play time always hungry and throwup on your pillow drink water out of the faucet stare at ceiling. 
                p
                  | Stare out the window chew on cable wake up human for food at 4am. Stare at the wall, play with food and get confused by dust caticus cuteicus but chew on cable so peer out window, chatter at birds, lure them to mouth, and chase ball of string for shake treat bag, yet meow all night having their mate disturbing sleeping humans. Vommit food and eat it again drink water out of the faucet for make muffins. Touch water with paw then recoil in horror eat and than sleep on your face loves cheeseburgers, but roll on the floor purring your whiskers off touch water with paw then recoil in horror hunt by meowing loudly at 5am next to human slave food dispenser. Hide head under blanket so no one can see. Eat and than sleep on your face. Knock dish off table head butt cant eat out of my own dish asdflkjaertvlkjasntvkjn (sits on keyboard) but chew on cable, purr for no reason stare at wall turn and meow stare at wall some more meow again continue staring . Jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed favor packaging over toy so under the bed. The dog smells bad chase the pig around the house then cats take over the world and destroy the blinds but chase red laser dot. Stand in front of the computer screen throwup on your pillow, but meow all night having their mate disturbing sleeping humans spread kitty litter all over house vommit food and eat it again bathe private parts with tongue then lick owner's face. 
              button.btn.btn-default(type='button', data-dismiss='modal') Close

  .row.social-media#social-media
    .container-fluid
      .col-xs-12
        h1 Social Media
        p
          | You really want to learn about me? Scope out some of my other work on YouTube,
          | or check out my photography on Instagram. The internet is a beautiful thing.
      .col-xs-6.col-sm-2.social-media-select
        a(href='https://twitter.com/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
      .col-xs-6.col-sm-2.social-media-select
        a(href='http://instagram.com/sugarphlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x
      .col-xs-6.col-sm-2.social-media-select
        a(href='https://www.linkedin.com/pub/cara-simoneau/9b/32a/272', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-linkedin.fa-stack-1x
      .col-xs-6.col-sm-2.social-media-select
        a(href='https://www.behance.net/carasimoneau', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x
      .col-xs-6.col-sm-2.social-media-select
        a(href='https://www.youtube.com/user/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-youtube.fa-stack-1x
      .col-xs-6.col-sm-2.social-media-select
        a(href='https://github.com/sugarPhlox', target='_blank')
          .fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-github.fa-stack-1x
  .row.you-should-talk-to-me#contact
    .container-fluid
      .col-xs-12.col-sm-6.col-sm-offset-6
        .well
          h1 Contact Me
          p
            | Feel free to contact me about job opportunities, questions about my work, or even to say hi. 
            | I'll be here (if I'm not in the car or on the motorcycle. don't check emails and drive folks).
          form.form-horizontal(role='form', method='post', target='_blank', action='//formspree.io/sugarPhlox@gmail.com')
            .form-group
              label.col-sm-2.control-label(for='name') Name
              .col-sm-10
                input#name.form-control(required='', type='text', name='name', placeholder='First & Last Name')
            .form-group
              label.col-sm-2.control-label(for='email') Email
              .col-sm-10
                input#email.form-control(required='', type='email', name='_replyto', placeholder='your email, please')
            .form-group
              label.col-sm-2.control-label(for='message') Message
              .col-sm-10
                textarea.form-control(required='', rows='4', name='message')
            .form-group
              .col-sm-10.col-sm-offset-2
                input#submit.btn.btn-primary(name='submit', type='submit', value='send')
                input(type='text', name='_gotcha', style='display:none')
                input(type='hidden', name='_next', value='thanks.html')
