extends layouts/default

block content
  .jumbotron
    h1 The Kitchen Sink
    p This is what elements will look like on your page.
    p
      a.btn.btn-primary.btn-large Button Example »
  .row
    .col-lg-12
      h1 Colors
      ul.swatches.clearfix
        li @brand-primary
        li @body-bg
        li @gray
        li @gray-base
        li @brand-danger
        li @brand-success
        li @brand-warning
        li @brand-info
  .row
    .col-lg-6
      #headings.panel.panel-default
        .panel-heading Headings
        .panel-body
          h1.page-header
            | Page Header 
            small With Small Text
          h1 h1 heading
          h2 h2 heading
          h3 h3 heading
          h4 h4 heading
          h5 h5 heading
          h6 h6 heading
      #tables.panel.panel-default
        .panel-heading
          | Tables
        .panel-body
          table.table.table-hover
            thead
              tr
                th #
                th Make
                th Model
            tbody
              tr
                td 1
                td Nissan
                td XTerra
              tr
                td 2
                td Subaru
                td Impreza WRX
              tr.success
                td 3
                td Success
                td is very sweet
              tr.danger
                td 4
                td Danger
                td can be avoided
              tr.warning
                td 5
                td Warning
                td take heed of it
              tr.active
                td 6
                td Active
                td So very active!
          table.table.table-striped.table-bordered.table-condensed
            thead
              tr
                th #
                th First Name
                th What are You
            tbody
              tr
                td 1
                td Buddy
                td is a cat, meow meow
              tr
                td 2
                td Boop
                td is a snake!
    .col-lg-6
      #content-formatting.panel.panel-default
        .panel-heading
          | Content Formatting
        .panel-body
          p.lead This is a lead paragraph.
          p
            | This is an 
            b ordinary paragraph
            |  that is 
            i long enough
            |  to wrap to 
            u multiple lines
            |  so that you can see how the line spacing looks.
          p.text-muted Muted color paragraph.
          p.text-warning Warning color paragraph.
          p.text-danger Danger color paragraph.
          p.text-info Info color paragraph.
          p.text-success Success color paragraph.
          p
            small
              | This is text in a 
              code small
              |  wrapper. 
              abbr(title='No Big Deal') NBD
              | , right?
          hr
          address
            strong Twitter, Inc.
            br
            |                 795 Folsom Ave, Suite 600
            br
            |                 San Francisco, CA 94107
            br
            abbr(title='Phone') P:
            |  (123) 456-7890
          address.col-6
            strong Full Name
            br
            a(href='mailto:#') first.last@example.com
          hr
          blockquote
            | Here's what a blockquote looks like in Bootstrap. 
            small
              | Use 
              code small
              |  to identify the source.
          hr
          .row
            .col-xs-6
              ul
                li Normal Unordered List
                li
                  | Can Also Work
                  ul
                    li With Nested Children
                li Adds Bullets to Page
            .col-xs-6
              ol
                li Normal Ordered List
                li
                  | Can Also Work
                  ol
                    li With Nested Children
                li Adds Bullets to Page
          hr
          pre.
            \nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}            
  #forms.panel.panel-default
    .panel-heading
      | Forms
    .panel-body
      form
        fieldset
          legend Legend
          .form-group
            label(for='exampleInputEmail') Email address
            input#exampleInputEmail.form-control(type='text', placeholder='Enter email')
          .form-group
            label(for='exampleInputPassword') Password
            input#exampleInputPassword.form-control(type='password', placeholder='Password')
          .form-group
            label(for='exampleInputFile') File input
            input#exampleInputFile(type='file')
            p.help-block Example block-level help text here.
          .checkbox
            label
              input(type='checkbox')
              | Check me out
          button.btn.btn-default(type='submit') Submit
      hr
      form.form-inline
        input.form-control(type='text', placeholder='Email', style='width: 200px;')
        input.form-control(type='password', placeholder='Password', style='width: 200px;')
        .checkbox
          label
            input(type='checkbox')
            | Remember me
        button.btn.btn-default(type='submit') Sign in
      hr
      form.form-horizontal
        .form-group
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(type='text', placeholder='Email')
        .form-group.has-warning
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(type='text', placeholder='Email')
        .form-group.has-error
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(type='text', placeholder='Email')
        .form-group.has-success
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(type='text', placeholder='Email')
        .form-group
          label.col-lg-2.control-label(for='inputPassword') Password
          .col-lg-10
            input#inputPassword.form-control(type='password', placeholder='Password')
            .checkbox
              label
                input(type='checkbox')
                | Remember me
            button.btn.btn-default(type='submit') Sign in
  .row
    .col-lg-8
      #buttons.panel.panel-default
        .panel-heading
          | Buttons
        .panel-body
          p
            button.btn.btn-lg.btn-default(type='button') Default
            button.btn.btn-lg.btn-primary(type='button') Primary
            button.btn.btn-lg.btn-success(type='button') Success
            button.btn.btn-lg.btn-info(type='button') Info
            button.btn.btn-lg.btn-warning(type='button') Warning
            button.btn.btn-lg.btn-danger(type='button') Danger
            button.btn.btn-lg.btn-link(type='button') Link
          p
            button.btn.btn-default(type='button') Default
            button.btn.btn-primary(type='button') Primary
            button.btn.btn-success(type='button') Success
            button.btn.btn-info(type='button') Info
            button.btn.btn-warning(type='button') Warning
            button.btn.btn-danger(type='button') Danger
            button.btn.btn-link(type='button') Link
          p
            button.btn.btn-sm.btn-default(type='button') Default
            button.btn.btn-sm.btn-primary(type='button') Primary
            button.btn.btn-sm.btn-success(type='button') Success
            button.btn.btn-sm.btn-info(type='button') Info
            button.btn.btn-sm.btn-warning(type='button') Warning
            button.btn.btn-sm.btn-danger(type='button') Danger
            button.btn.btn-sm.btn-link(type='button') Link
          p
            button.btn.btn-xs.btn-default(type='button') Default
            button.btn.btn-xs.btn-primary(type='button') Primary
            button.btn.btn-xs.btn-success(type='button') Success
            button.btn.btn-xs.btn-info(type='button') Info
            button.btn.btn-xs.btn-warning(type='button') Warning
            button.btn.btn-xs.btn-danger(type='button') Danger
            button.btn.btn-xs.btn-link(type='button') Link
          p
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-star
              |  Glyphicons!
            button.btn.btn-primary(type='button')
              span.glyphicon.glyphicon-edit
            button.btn.btn-success(type='button')
              span.glyphicon.glyphicon-plus
            button.btn.btn-info(type='button')
              span.glyphicon.glyphicon-info-sign
            button.btn.btn-warning(type='button')
              span.glyphicon.glyphicon-flash
            button.btn.btn-danger(type='button')
              span.glyphicon.glyphicon-ban-circle
            button.btn.btn-link(type='button')
              span.glyphicon.glyphicon-arrow-right
    .col-lg-4
      #images.panel.panel-default
        .panel-heading
          | Images
        .panel-body
          p
            img.img-rounded(src='http://placehold.it/100x100')
            img.img-circle(src='http://placehold.it/100x100')
            img.img-thumbnail(src='http://placehold.it/100x100')
  .row
    .col-lg-3
      #dropdowns.panel.panel-default
        .panel-heading
          | Dropdowns
        .panel-body.clearfix
          .dropdown
            // Link or button to toggle dropdown
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu', style='display: block; position: static;')
              li.dropdown-header Dropdown header
              li.disabled
                a(tabindex='-1', href='#') Action
              li
                a(tabindex='-1', href='#') Another action
              li
                a(tabindex='-1', href='#') Something else here
              li.divider
              li
                a(tabindex='-1', href='#') Separated link
    .col-lg-9
      #input-groups.panel.panel-default
        .panel-heading
          | Input Groups
        .panel-body
          .input-group
            span.input-group-btn
              button.btn.btn-default(type='button') Go!
            input.form-control(type='text', placeholder='Username')
          br
          .input-group
            input.form-control.input-large(type='text')
            span.input-group-addon.input-large .00
          br
          .input-group
            span.input-group-addon $
            input.form-control(type='text')
            span.input-group-addon .00
  .row
    .col-lg-6
      #navs.panel.panel-default
        .panel-heading
          | Navs
        .panel-body.clearfix
          ul.nav.nav-tabs
            li.active
              a(href='#') Home
            li
              a(href='#') About
          p
          p
          ul.nav.nav-pills
            li.active
              a(href='#') Home
            li
              a(href='#') About
          p
          p
          ul.nav.nav-stacked.nav-pills
            li.active
              a(href='#') Home
            li
              a(href='#') About
    #navbar.col-lg-6
      .panel.panel-default
        .panel-heading
          | Navbar
        .panel-body
          p
          .navbar
            .navbar-header
              a.navbar-brand(href='#') Your Company
            .navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href='#') Home
                li
                  a(href='#') About
                li
                  a(href='#') Contact
          .navbar.navbar-inverse
            .navbar-header
              a.navbar-brand(href='#') Your Company
            .navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href='#') Home
                li
                  a(href='#') About
                li
                  a(href='#') Contact
          .navbar
            .collapse.navbar-collapse
              a.btn.btn-primary.navbar-btn Navbar Button
              p.navbar-text.navbar-right Navbar Text
  .row
    .col-lg-6
      #pagination.panel.panel-default
        .panel-heading
          | Pagination
        .panel-body
          ul.pagination(style='margin-right: 10px;')
            li
              a(href='#') Prev
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') Next
          ul.pagination.pagination-lg
            li
              a(href='#') Prev
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') Next
          ul.pager
            li
              a(href='#') Prev
            li
              a(href='#') Next
      #labels.panel.panel-default
        .panel-heading
          | Labels and Badges
        .panel-body
          h3
            span.label.label-default Default
            span.label.label-success Success
            span.label.label-warning Warning
            span.label.label-danger Danger
            span.label.label-info Info
          p.lead
            a(href='#')
              | Inbox 
              span.badge 42
    .col-lg-6
      #alerts.panel.panel-default
        .panel-heading
          | Alerts
        .panel-body
          div
            .alert.alert-danger
              button.close(type='button', data-dismiss='alert') ×
              strong Oh snap!
              a.alert-link(href='#') Change a few things up
              |  and try submitting again.
            .alert.alert-success
              button.close(type='button', data-dismiss='alert') ×
              strong Well done!
              |  You successfully read 
              a.alert-link(href='#') this important alert message
              | .
            .alert.alert-warning
              button.close(type='button', data-dismiss='alert') ×
              strong Heads up!
              |  This 
              a.alert-link(href='#') alert needs your attention
              | , but it's not super important.
            .alert.alert-info
              button.close(type='button', data-dismiss='alert') ×
              strong Heads up!
              |  This 
              a.alert-link(href='#') alert needs your attention
              | , but it's not super important.
            .alert
              button.close(type='button', data-dismiss='alert') ×
              h4 Warning!
              p This is a block style alert.
  .row
    .col-lg-6
      #progress.panel.panel-default
        .panel-heading
          | Progress Bars
        .panel-body
          .progress
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              span.sr-only 60% Complete
          .progress
            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
              span.sr-only 40% Complete (success)
          .progress
            .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
              span.sr-only 20% Complete
          .progress
            .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
              span.sr-only 60% Complete (warning)
          .progress
            .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
              span.sr-only 80% Complete (danger)
          .progress
            .progress-bar.progress-bar-success(style='width: 35%')
              span.sr-only 35% Complete (success)
            .progress-bar.progress-bar-warning(style='width: 20%')
              span.sr-only 20% Complete (warning)
            .progress-bar.progress-bar-danger(style='width: 10%')
              span.sr-only 10% Complete (danger)
    .col-lg-6
      #media-object.panel.panel-default
        .panel-heading
          | Media Object
        .panel-body
          p
          .media
            a.pull-left(href='#')
              img.media-object(src='https://app.divshot.com/img/placeholder-64x64.gif')
            .media-body
              h4.media-heading Media heading
              p This is the content for your media.
              .media
                a.pull-left(href='#')
                  img.media-object(src='https://app.divshot.com/img/placeholder-64x64.gif')
                .media-body
                  h4.media-heading Media heading
                  p This is the content for your media.
  .row
    .col-lg-4
      ul.list-group
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros
    .col-lg-4
      .list-group
        a.list-group-item.active(href='#')           Cras justo odio        
        a.list-group-item(href='#') Dapibus ac facilisis in        
        a.list-group-item(href='#') Morbi leo risus        
        a.list-group-item(href='#') Porta ac consectetur ac        
        a.list-group-item(href='#') Vestibulum at eros        
    .col-lg-4
      .list-group
        a.list-group-item.active(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  .row
    .col-lg-3
      #panels.panel.panel-primary
        .panel-heading
          | This is a header
        p.panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-success
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-danger
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-warning
        .panel-heading
          | This is a header
        .panel-body This is a panel
        .panel-footer
          | This is a footer
  .row
    .col-lg-3
      .panel.panel-info
        .panel-heading
          | This is a header
        p.panel-body This is a panel
        .panel-footer
          | This is a footer
    .col-lg-3
      .panel.panel-default
        .panel-heading
          | This is a header
        .panel-body This is a panel
        ul.list-group.list-group-flush
          li.list-group-item First Item
          li.list-group-item Second Item
          li.list-group-item Third Item
        .panel-footer
          | This is a footer
    .col-lg-3
      #wells.well
        | Default Well
      .well.well-small
        | Small Well
    .col-lg-3
      .well.well-large
        | Large Padding Well