extends layouts/default

-title = 'Thanks!'

block content

  .col-sm-6.col-sm-offset-3.text-center.well.thanks
    img(src='public/img/sugarPhlox.png' width=200 height=200)
    h1 Thanks!
    p You should hear from me very soon.
    p You can close this page and go back to browsing the internet.

