doctype html

html
  head
    title
      block title
    link(rel='stylesheet', href='public/css/main.css')
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='public/js/bootstrap.min.js')
    script(type='text/javascript', src='public/js/navbar.js')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          btn.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
            i.fa.fa-chevron-circle-down.fa-2x
          a.navbar-brand(href='index.html') sugarPhlox.
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') about
            li
              a(href='#portfolio') portfolio
            li
              a(href='#social-media') social media
            li
              a(href='#contact') contact

    block content